*{
    box-sizing:border-box;
}

#container{
    background-color:#ADC178;
}

li{
    list-style:none;
}

ul{
    display:flex;
    justify-content:center;
}

#wrapper{

width:400px;
margin:auto;
}

#nav{
    display:flex;
    justify-content:space-between;
}