*{
    box-sizing:border-box;
}

li{
    font-size:25px;
    list-style:none;
    padding:15px;
}

#icons{

    display:flex;
    justify-content:center;
}

#container{
    background-color:#ADC178;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#profile{
    margin-top:20px;
    
}

#options{
    border:3px solid #6C584C;
    width:300px;
}