*{
    box-sizing:border-box;
}

div{
    width:500px;
    height:70px;
   
    margin:auto;
}
div {
    margin-bottom:120px;
}

form{
    
    width:300px;
    height:200px;
    margin-left:630px;
}
label{
    margin-bottom:40px;
}


h6{
    margin-left:720px;
    font-size:20px;
}

section div{
    text-align:center;
}

#googleBtn{
    margin-left:630px;
    width:200px;
    height:50px;
    border-radius:20px;
    background-color:#ADC178;
    color:white;

}

#signBtn{
    width:200px;
    height:50px;
    border-radius:20px;
    background-color:#ADC178;
    color:white;
    margin-top:15px;
    
    
}

a{
    text-decoration:none;
    color:white;
    font-size:20px;
}

input{
    width:200px;
    height:40px;
    border-radius:15px;
    background-color:#F0E9D2;
}